<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/interviuri"><i class="fa fa-list"></i> 
                Interviuri</a>
            </li>
            <li>
                <a href="/angajati"><i class="fa fa-user"></i> 
                Angajati</a>
            </li>
            <li>
                <a href="/statistici"><i class="fa fa-bar-chart"></i> 
                Statistici</a>
            </li>

            {{#if isInRole 'admin'}}
                <li>
                    <a href="/admin/users"><i class="fa fa-users"></i> 
                    Users</a>
                </li>
            {{/if}}

        </ul>
    </nav>
</template>