<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/cvs"><i class="fa fa-list"></i> 
                Interviuri</a>
            </li>
            <li>
                <a href="/favorites"><i class="fa fa-user"></i> 
                Angajati</a>
            </li>
            <!--<li>
                <a href="/shopping-list"><i class="fa fa-map-o"></i> 
                Shopping List</a>
            </li>-->
        </ul>
    </nav>
</template>